<!-- Evtlogd config file -->
<!-- vim: set filetype=xml: ->
<Config>
	<HostGrp name="WAMP">
		<!-- All hosts named WEB<NN> or DB<NN>,
		case-insensitive -->
		<Host>WEB??</Host>
		<Host>DB??</Host>
	</HostGrp>
	<HostGrp name="Web">
		<!-- All hosts named WEB<NN>, case-insensitive -->
		<Host>WEB??</Host>
	</HostGrp>
	<NagiosSvc name="EventLog Testing">
		<!-- Nagios service name and alert level (one of OK, WARNING, CRITICAL
		or UNKNOWN) - REQUIRED -->
		<Description>EventLog Test</Description>
		<Alert>UNKNOWN</Alert>
	</NagiosSvc>
	<NagiosSvc name="Application Errors">
		<!-- Nagios service name and alert level (one of OK, WARNING, CRITICAL
		or UNKNOWN) - REQUIRED -->
		<Description>EventLog Application Errors</Description>
		<Alert>WARNING</Alert>
	</NagiosSvc>
	<EvtItem name="WAMP test rule">
		<Service>EventLog Testing</Service>
		<!-- Everything else is optionnal, although it wouldn't be sane to just
		leave it empty! -->
		<Hosts>WAMP</Hosts>
		<!-- Frequency settings -->
		<Freq>
			<!-- Perhost = True is what older versions (<1.2) used to do - see other EvtItem for more info-->
			<Perhost>True</Perhost>
			<!-- Requires Number events within Time seconds to send an alert, per host -->
			<Number>2</Number>
			<Time>20</Time>
			<!-- Don't resend notification if last one was sent within Rate seconds, per host -->
			<Rate>60</Rate>
		</Freq>
		<Include>
			<!-- Type Warning or Error ("Audit Success" and "Audit Failure" are treated
			as "Information" and "Error" respectively. Unknown types are always
			"Information" -->
			<Type>Warning</Type>
			<Type>Error</Type>
			<!-- Either one of these sources (exact match) -->
			<Source>Site Server Content Deployment</Source>
			<Source>Perflib</Source>
			<!-- Either one of these IDs -->
			<Id>15368</Id>
			<Id>1023</Id>
			<Id>1038</Id>
			<!-- This is the same thing as ommiting it... -->
			<Message>*</Message>
			<!-- And this rule is totally useless because of the previous one -->
			<Message>*cannot load*</Message>
		</Include>
		<Exclude>
			<!-- Excludes takes predecense over includes -->
			<Message>Unable to deserialize data*</Message>
		</Exclude>
	</EvtItem>
	<EvtItem name="HTTP Application Errors">
		<Service>Application Errors</Service>
		<!-- Everything else is optionnal, although it wouldn't be sane to just
		leave it empty! -->
		<Hosts>Web</Hosts>
		<!-- SubstHost (optionnal) makes reposting always use the defined hostname in nagios alerts -->
		<SubstHost>webapp_services</SubstHost>
		<!-- Frequency settings -->
		<Freq>
			<!-- Calculate frequency per-host rather than per-EvtItem - You will likely
			     want this set to False *only* when using SubstHost (above) -->
			<Perhost>False</Perhost>
			<!-- Apply frequency counter and rate on a per-eventid basis when true.
			     Here we want all events to increment the frequency counter -->
			<PerID>False</PerID>
			<!-- Requires Number events within Time seconds to send an alert, per host -->
			<Number>100</Number>
			<Time>60</Time>
			<!-- Don't resend notification if last one was sent within Rate seconds, per host -->
			<Rate>600</Rate>
		</Freq>
		<Include>
			<!-- Type Warning or Error ("Audit Success" and "Audit Failure" are treated
			as "Information" and "Error" respectively. Unknown types are always
			"Information" -->
			<Type>Error</Type>
			<!-- Either one of these sources (exact match) -->
			<Source>webapp</Source>
			<!-- Either one of these ID numbers or ranges -->
			<Id>1000</Id>
			<Id>1003</Id>
			<Id>1005-1020</Id>
			<Id>1024</Id>
			<Id>1028</Id>
		</Include>
	</EvtItem>
</Config>
